<!-- <mat-list>
    <ng-container *ngFor="let item of items">
        <mat-list-item>{{item.name}}</mat-list-item>
        <mat-list style="margin-left:30px;">
            <div *ngFor="let subItem of item.subItems">
                <mat-list-item>{{ subItem.name }}</mat-list-item>
            </div>
        </mat-list>
    </ng-container>
</mat-list> -->

<mat-list>
    <ng-container>
        <mat-list-item (click)="openSubMnu()">
            <mat-icon>moving</mat-icon> <span>Laporan Transaksi</span>
            <mat-icon>{{isSubmenuOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
        </mat-list-item>
        <mat-list *ngIf="isSubmenuOpen" style="margin-left:30px;">
            <div *ngFor="let link of navLinkItem">
                <mat-list-item>
                    <a [routerLink]="[link.route]">{{link.link}}</a>
                </mat-list-item>
            </div>

        </mat-list>
    </ng-container>

</mat-list>