<mat-list>
    <mat-list-item>
        <a fxLayout="row" fxLayoutAlign="center center" routerLink="/">
            <mat-icon>home</mat-icon> <span>Home</span>
        </a>
    </mat-list-item>
    <mat-list-item>

        <a fxLayout="row" fxLayoutAlign="center center" routerLink="/branch">
            <mat-icon>store_mall_directory</mat-icon> <span>branch</span>
        </a>
    </mat-list-item>
    <mat-list-item>

        <a fxLayout="row" fxLayoutAlign="center center" routerLink="/metode-pembayaran">
            <mat-icon>account_balance_wallet</mat-icon> <span>Metode Pembayaran</span>
        </a>
    </mat-list-item>
    <mat-list-item>

        <a fxLayout="row" fxLayoutAlign="center center" routerLink="/gabung-aku-food">
            <mat-icon>star_outline</mat-icon> <span>Gabung Aku Food</span>
        </a>
    </mat-list-item>
    <mat-list-item>

        <a fxLayout="row" fxLayoutAlign="center center" routerLink="/subscription" class="nav-caption">
            <mat-icon>update</mat-icon> <span>Subscription</span>
        </a>
    </mat-list-item>
    <mat-list-item>

        <a fxLayout="row" fxLayoutAlign="center center" routerLink="/machine">
            <mat-icon>laptop</mat-icon> <span>Machine</span>
        </a>
    </mat-list-item>

    <app-laporan-transaksi></app-laporan-transaksi>

    <mat-list-item>

        <a fxLayout="row" fxLayoutAlign="center center" routerLink="/category">
            <mat-icon>category</mat-icon> <span>Kategori</span>
        </a>
    </mat-list-item>

    <app-stock-item-menu></app-stock-item-menu>

    <app-manajemen-item-menu></app-manajemen-item-menu>

    <app-event-discount></app-event-discount>


    <app-manajement-inventory></app-manajement-inventory>

    <app-manajement-resep></app-manajement-resep>

    <app-remote-printer></app-remote-printer>

    <app-manajement-vendor></app-manajement-vendor>

    <!-- Work IN Progres -->


    <mat-list-item>

        <a fxLayout="row" fxLayoutAlign="center center" routerLink="/presensi" class="nav-caption">
            <mat-icon>update</mat-icon> <span>Presensi</span>
        </a>
    </mat-list-item>

    <mat-list-item>

        <a fxLayout="row" fxLayoutAlign="center center" routerLink="/manajement-akun">
            <mat-icon>laptop</mat-icon> <span>Manajemen Akun</span>
        </a>
    </mat-list-item>

    <mat-list-item>

        <a fxLayout="row" fxLayoutAlign="center center" routerLink="/subscription" class="nav-caption">
            <mat-icon>update</mat-icon> <span>Pengaturan</span>
        </a>
    </mat-list-item>

    <mat-list-item>

        <a fxLayout="row" fxLayoutAlign="center center" routerLink="/keluar">
            <mat-icon>laptop</mat-icon> <span>Keluar</span>
        </a>
    </mat-list-item>
</mat-list>