a {
    text-decoration: none;
    color: black;
    margin-left: 2px;
}
a:hover {
    color: blueviolet;
}
span {
    margin-left: 10px;
}

.mat-list-item {
    cursor: pointer;
    height: auto;
}



